# 1. Tuples

A tuple is Python is similar to list. The difference between the two is that we cannot change the elements of a tuple once it it assigned whereas we can change the elements of a list.

A tuple in Python is a collection of items that is:

1. Ordered

2. Immutable (cannot be changed after creation)

3. Allows duplicate values

It is similar to a list, but once created, you cannot modify it.

---

| Feature           | List | Tuple |
| ----------------- | ---- | ----- |
| Brackets          | `[]` | `()`  |
| Mutable           | Yes  | No    |
| Faster            | No   | Yes   |
| Can change values | Yes  | No    |

## Plan of Attack

- Creating a Tuple
- Accessing items
- Editing items
- Deleting items
- Operations on Tuples
- Tuple Functions

## 1.1. Creating Tuples

In [1]:
t1 = ()
print(t1)
print(type(t1))

# Create a typle with a single item
t2=(2)         #--> wrong way to create a single item tuple
print(t2)
print(type(t2))

t3 = (3,)
print(t3)
print(type(t3))

#Homogeneous tuple
t4 = (1,2,3,4,5)
print(t4)

#Hetrogeneous tuple
t5 = (1,2.5,"hello",[1,2,3],(4,5,6),print())
print(t5)

#2D tuple
t6 = (1,2,3,(4,5,6))
print(t6)

#using type conversion
t7 = tuple("hello")
print(t7)

#t8 = tuple(567)     #--> TypeError: 'int' object is not iterable
#print(t8)

t9 = tuple([1,2,3])
print(t9)

#t10 = tuple(8,9,10)    #---> TypeError: tuple expected at most 1 argument, got 3
#print(t10)

()
<class 'tuple'>
2
<class 'int'>
(3,)
<class 'tuple'>
(1, 2, 3, 4, 5)

(1, 2.5, 'hello', [1, 2, 3], (4, 5, 6), None)
(1, 2, 3, (4, 5, 6))
('h', 'e', 'l', 'l', 'o')
(1, 2, 3)

## 1.2. Accessing Items
- Indexing
- Slicing

In [6]:
t3 = (1,2,3,4)
print(t3[0])
print(t3[-1])

1
4

In [8]:
print(t3[0:4:2])
print(t3[-3:-1])
print(t3[::-1])
print(t3[1:3])

(1, 3)
(2, 3)
(4, 3, 2, 1)
(2, 3)

In [20]:
t6 = (1,2,3,(4,5,6))
print(t6[-1][0])

4

In [2]:
t = (1,2,3,4,5)
print(t[-1:-4:-1])
print(t[-1::-1])
print(t[::-1])
print(t[-3:])

(5, 4, 3)
(5, 4, 3, 2, 1)
(5, 4, 3, 2, 1)
(3, 4, 5)

## 1.3. Editing items

In [13]:
print(t3)
#t3[0] = 100    #--->TypeError: 'tuple' object does not support item assignment

(1, 2, 3, 4)

## 1.4. Adding Items

In [3]:
print(t3)
# Adding items is Not Possible (tuple is immutable)

(3,)

## 1.5. Deleting Items

In [14]:
print(t3)
del t3
# print(t3) ----> NameError: name 't3' is not defined

(1, 2, 3, 4)

In [34]:
print(t5)
# del t5[-1] ---> TypeError: 'tuple' object doesn't support item deletion

(1, 2.5, 'hello', [1, 2, 3], (4, 5, 6))

## 1.6. Operations on Tuple

In [50]:
# Addition(+, merging) and Multiplication(*)

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

print(t1*3)
print(t2*3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

In [51]:
# Memebership

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(1 in t1)
print(1 not in t1)

True
False

In [52]:
# Iteration

t1 = (1,2,3,4)
for i in t1:
    print(i)

1
2
3
4

## 1.7. Tuple Fucntions
- len
- sum
- min
- max
- sorted

In [53]:
t1 = (1,2,3,4)

In [56]:
# len
len(t1)

4

In [57]:
# sum
sum(t1)

10

In [58]:
# min
min(t1)

1

In [59]:
# max
max(t1)

4

In [64]:
# sorted

print(sorted(t1))
print(sorted(t1, reverse=True))
#This give's list

[1, 2, 3, 4]
[4, 3, 2, 1]

In [66]:
# count

t = (1,2,3,4,5)
print(t.count(1))
print(t.count(4))
print(t.count(50))

1
1
0

In [15]:
# Index
print(t.index(2))
#print(t.index(40))     # ---> ValueError: tuple.index(x): x not in tuple
# If element present multiple times,, give the first occurance index

1

## 1.8 Diffence between Lists and Tuples

| Feature                    | List                                                 | Tuple                                     |
| -------------------------- | ---------------------------------------------------- | ----------------------------------------- |
| **Syntax**                 | Uses square brackets `[]`                            | Uses round brackets `()`                  |
| **Mutability**             | Mutable (elements can be changed)                    | Immutable (elements cannot be changed)    |
| **Speed**                  | Slower                                               | Faster                                    |
| **Memory**                 | Uses more memory                                     | Uses less memory                          |
| **Built-in Functionality** | Many methods like `append()`, `remove()`, `pop()`    | Limited methods like `count()`, `index()` |
| **Error Prone**            | More error-prone (data can be modified accidentally) | Less error-prone (data is protected)      |
| **Usability**              | Used when data needs frequent changes                | Used when data should remain fixed        |

In [20]:
# Speed
import time

L = list(range(100000))
T = tuple(range(100000))

start = time.time()
for i in L:
    i*5
print('List time: ', time.time()-start)


start = time.time()
for i in T:
    i*5
print('Tuple time: ', time.time()-start)


# Immutable data types are faster, so typle is faster than list

List time:  0.011550664901733398
Tuple time:  0.009316682815551758

In [2]:
# memory
import sys

L = list(range(1000))
T = tuple(range(1000))

print("List size", sys.getsizeof(L))
print("Tuple size", sys.getsizeof(T))

List size 8056
Tuple size 8048

In [5]:
# Error Prone in list
a = [1,2,3]
b = a
print(a)
print(b)
print()

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

[1, 2, 3, 4]
[1, 2, 3, 4]

In [6]:
# Error Prone in tuple (no errors)
a = (1,2,3)
b = a
print(a)
print(b)
print()

a = a+(4,)
print(a)
print(b)

(1, 2, 3)
(1, 2, 3)

(1, 2, 3, 4)
(1, 2, 3)

```python

a = (1,2,3)
b = a

a  ──┐
     ├──> (1,2,3)
b  ──┘



a = a+(4,)

b  ───> (1,2,3)

a  ───> (1,2,3,4)
```

## 1.9 Special Syntax

In [9]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)
print(a)
print(b)
print(c)

1 2 3
1
2
3

In [11]:
# a,b = (1,2,3)   #---> ValueError: too many values to unpack (expected 2, got 3)

In [12]:
# Swap
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [13]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [19]:
# Zipping Tuples
a = (1,2,3,4)
b = (5,6,7,8)

print(list(zip(a,b)))    #--->this give pair in List
print(tuple(zip(a,b)))   #--->this give pair in Tuple

[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

# 2. Sets

A set in Python is a built-in data type that represents an unordered collection of unique and immutable elements.
It is designed to store distinct values, meaning duplicate elements are automatically removed.

Although a set itself is mutable (elements can be added or removed), the individual elements stored inside a set must be immutable, such as numbers, strings, or tuples.
Because sets are implemented using hashing, they provide very fast membership testing and are commonly used for mathematical set operations like union, intersection, and difference.

Characteristics: 

- Set stores unique elements

- Set is unordered

- Set is mutable

- No indexing

- Elements must be immutable

- Used to remove duplicates and perform set operations

---

***A set is implemented using a hash table.***

That means:

- Every element must have a fixed hash value

- That hash value must NOT change while inside the set

- If the element changed, its hash would change → and the set wouldn’t know where it stored it.

## 2.1 Creating Sets

In [22]:
s = {}        #--> we created dict with this
print(s)
print(type(s))

s = set()      
print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

In [26]:
# 1D and 2D Set

s1 = {1,2,3}
print(s1)
print(type(s1))

# s2 = {1,2,3,{4,5,6}}     #--> TypeError: cannot use 'set' as a set element (unhashable type: 'set')

{1, 2, 3}
<class 'set'>

In [31]:
# Homogeneous and Hetrogeneous Set

s3 = {1,2,3,4}
print(s3)

s3 = {1, 'hello', 4.5, True, (1,2,3)}
print(s3)

# Did't print True because 1 is already present , so no duplicate

{1, 2, 3, 4}
{1, (1, 2, 3), 'hello', 4.5}

In [33]:
# Using type conversion

s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [34]:
# Duplicates not allowed

s5 = {1,1,2,3,4,4,4,5,6,7}
print(s5)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
# Sets can't have mutable items

# s6 = {1,2,[3,4]}    #---> TypeError: cannot use 'list' as a set element (unhashable type: 'list')

In [37]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

## 2.2 Accessing Items

In [41]:
s1 = {1,2,3,4}
# s1[0]   #---> TypeError: 'set' object is not subscriptable
# s[-1]   #---> TypeError: 'set' object is not subscriptable
# s[1:3]  #---> TypeError: 'set' object is not subscriptable

# Indexing is not possible

## 2.3 Editing Items

In [43]:
s1 = {1,2,3,4}
# s1[0] = 100    #---> TypeError: 'set' object does not support item assignment

## 2.4 Adding Items

In [48]:
s = {1,2,3,4}
print(s)

# Add
s.add(5)
print(s) 
# We don't decide where the element get add, it is decided by hashing

# Update

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [49]:
s = {1,2,3,4}
print(s)

# Update
s.update([5,6,7])
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

## 2.5 Deleting Items

In [54]:
# del
s = {1,2,3,4,5}
print(s)
del s
# print(s)    #---> NameError: name 's' is not defined

# del s[0]      #--> TypeError: 'set' object doesn't support item deletion

{1, 2, 3, 4, 5}

In [57]:
# Discard

s = {1,2,3,4,5}
print(s)
     
s.discard(5)
print(s)

s.discard(44)    #---> No error

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [60]:
# Remove

s = {1,2,3,4,5}
print(s)

s.remove(5)
print(s)

# s.remove(44)   #---> KeyError: 44

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [64]:
# Pop
# randomly delete a item

s = {1,2,3,4,5}
print(s)

s.pop()
print(s)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [66]:
# Clear
# Empty the set

s = {1,2,3,4,5}
print(s)

s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

## 2.6 Sets Operations

In [68]:
# Union(|)

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
# Intersection(&)

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1&s2

{4, 5}

In [75]:
# Difference(-)

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(f"s1-s2: {s1-s2}")

print(f"s2-s1: {s2-s1}")

s1-s2: {1, 2, 3}
s2-s1: {8, 6, 7}

In [77]:
# Symeetric Difference(^)
# Leave common, and print all others
s1^s2

{1, 2, 3, 6, 7, 8}

In [79]:
# Membership Test

s1 = {1,2,3,4,5}

print(1 in s1)
print(1 not in s1)

True
False

In [80]:
# Iteration

s1 = {1,2,3,4,5}
for i in s1:
    print(i)

1
2
3
4
5

## 2.7 Set Functions

In [1]:
# len
s = {1,3,5,2,9}
len(s)

5

In [2]:
# Sum
s = {1,3,5,2,9}
sum(s)

20

In [3]:
# Min
s = {1,3,5,2,9}
min(s)

1

In [4]:
# Max
s = {1,3,5,2,9}
max(s)

9

In [5]:
# sort
s = {1,3,5,2,9}
print(sorted(s))
print(sorted(s, reverse=True))

[1, 2, 3, 5, 9]
[9, 5, 3, 2, 1]

In [5]:
# Union/Update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1|s2
print(s1.union(s2))
print(s1)
print(s2)
print()

s1.update(s2)
print(s1)      #----> s1 got permanent change
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [6]:
# Intersection/Intersection_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.intersection(s2))
print(s1)
print(s2)
print()

s1.intersection_update(s2)
print(s1)
print(s2)
# s1 got modified and s2 remain same

{4, 5}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

{4, 5}
{4, 5, 6, 7, 8}

In [19]:
# Difference/Difference_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))

s1.difference_update(s2)
print(s1)
print(s2)
# s1 got modified and s2 remain same

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [20]:
# Symmetric_difference/Symmetric_difference_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.symmetric_difference(s2))

s1.symmetric_difference_update(s2)
print(s1)
print(s2)
# s1 got modified and s2 remain same

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [22]:
# isdisjoint

# isdisjoint() checks whether two sets have NO common elements.
# Returns True → if there are no common elements
# Returns False → if at least one element is common

s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.isdisjoint(s2))
print()


s1 = {1,2,3,4}
s2 = {5,6,7,8}

print(s1.isdisjoint(s2))

False

True

In [23]:
# issubset

# issubset() checks whether all elements of one set are present in another set.
# Returns True → if every element of the first set exists in the second set
# Returns False → otherwise

s1 = {1,2,3,4,5}
s2 = {3,4,5}

print(s1.issubset(s2))

print(s2.issubset(s1))

False
True

In [26]:
# issuperset

# issuperset() checks whether a set contains all elements of another set.
# Returns True → if the first set has every element of the second set
# Returns False → otherwise


s1 = {1,2,3,4,5}
s2 = {3,4,5}

print(s1.issuperset(s2))
print(s2.issuperset(s1))

True
False

In [29]:
# copy
# copy() creates a shallow copy of a set.

s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## 2.8 Frozenset

Frozen set is just an immutabel version of a Python set object

It represents an unordered collection of unique elements, just like a normal set, but once created, it cannot be changed.

In [34]:
# Create frozenset

fs = frozenset([1,2,3])
print(fs)

frozenset({1, 2, 3})

In [35]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [36]:
# What works and what does not
# work's -> all read functions
# does't work-> write operations

In [42]:
# When to use

# A frozenset is used when you need a collection of unique elements that must not change after creation.

#-- When data should not change

#-- When a set is needed as a dictionary key

#-- When a set must be stored inside another set

#-- When immutability and safety are required

In [40]:
# 2D Frozensets

fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

## 2.9 Set Comprehension

In [46]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [48]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# 3 Dictionary

A dictionary in Python is a built-in data type that stores data in key–value pairs.

Each key is used to identify and access its corresponding value, making dictionaries very fast for data lookup.

A dictionary in Python is a mutable, unordered collection of data that stores elements in the form of key–value pairs, where each key is unique and immutable, and each key maps to a value.
Dictionaries are implemented using hashing, which allows fast access, insertion, and deletion of values using their keys.

In some languages it is known as map or assosiative arrays.

dict = {'name':'vbp', 'age':22, 'gender':'male'}

Characterstics:
- mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

## 3.1 Creating Dictionary

In [3]:
# empty dictionary
d = {}
print(d)

{}

In [4]:
# 1D dictionary
d1 = {'name':'vbp', 'gender':'male'}
print(d1)

{'name': 'vbp', 'gender': 'male'}

In [6]:
# with mixed keys
d2 = {(1,2,3):1, 'hello':'world'}
print(d2)

{(1, 2, 3): 1, 'hello': 'world'}

In [8]:
# 2D Dictionary
s = {
    'name':'vbp',
    'college':'dpmd',
    'sem': 6,
    'subjects':{
        'dsa':50,
        'maths':67,
        'AI':65,
        'ML':66
    }
}
print(s)

#JSON Actually follow this formate

{'name': 'vbp', 'college': 'dpmd', 'sem': 6, 'subjects': {'dsa': 50, 'maths': 67, 'AI': 65, 'ML': 66}}

In [8]:
# using sequence and dict fucntion

d4 = dict([('name','vbp'), ('age',22), (3,3)])
print(d4)

{'name': 'vbp', 'age': 22, 3: 3}

In [12]:
# Duplicate keys

d5 = {'name':'vbp', 'name':'rahul'}
print(d5)

{'name': 'rahul'}

In [15]:
# mutable items as key

# d6 = {'name':'vbp', [1,2,3]:2}    #--> TypeError: cannot use 'list' as a dict key (unhashable type: 'list')

d6 = {'name':'vbp', (1,2,3):2} 
print(d6)

{'name': 'vbp', (1, 2, 3): 2}

## 3.2 Accessing items

In [23]:
my_dict = {'name':'vbp', 'age':26}

# my_dict[0]    #---> KeyError: 0

print(my_dict['name'])
print(my_dict['age'])

vbp
26

In [24]:
# get function

print(my_dict.get('name'))

print(my_dict.get('age'))

vbp
26

In [59]:
# Accessing in 2D dict

s = {
    'name':'vbp',
    'college':'dpmd',
    'sem': 6,
    'subjects':{
        'dsa':50,
        'maths':67,
        'AI':65,
        'ML':66
    }
}

print(s['subjects']['maths'])

67

## 3.3  Adding key-value pair

In [9]:
print(d4)

{'name': 'vbp', 'age': 22, 3: 3}

In [10]:
d4['gender'] = 'male'
print(d4)

{'name': 'vbp', 'age': 22, 3: 3, 'gender': 'male'}

In [11]:
d4['weight'] = 70
print(d4)

{'name': 'vbp', 'age': 22, 3: 3, 'gender': 'male', 'weight': 70}

In [60]:
# Adding in 2D dict

s = {
    'name':'vbp',
    'college':'dpmd',
    'sem': 6,
    'subjects':{
        'dsa':50,
        'maths':67,
        'AI':65,
        'ML':66
    }
}

s['subjects']['NLP']=63
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 6, 'subjects': {'dsa': 50, 'maths': 67, 'AI': 65, 'ML': 66, 'NLP': 63}}

## 3.4 Remove key-value pair

In [12]:
d = {'name': 'vbp', 'age': 22, 3: 3, 'gender': 'male', 'weight': 70}
print(d)

{'name': 'vbp', 'age': 22, 3: 3, 'gender': 'male', 'weight': 70}

In [13]:
# pop

d.pop(3)
print(d)

{'name': 'vbp', 'age': 22, 'gender': 'male', 'weight': 70}

In [14]:
# popoitem
# deletes last item

d.popitem()
print(d)

{'name': 'vbp', 'age': 22, 'gender': 'male'}

In [15]:
# del

del d['name']
print(d)

# can also do del d

{'age': 22, 'gender': 'male'}

In [16]:
# clear
# clear the dict , make it empty dictionary

d.clear()
print(d)

{}

In [17]:
# Removing from 2D dict

s = {
    'name':'vbp',
    'college':'dpmd',
    'sem': 6,
    'subjects':{
        'dsa':50,
        'maths':67,
        'AI':65,
        'ML':66
    }
}


del s['subjects']['maths']
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 6, 'subjects': {'dsa': 50, 'AI': 65, 'ML': 66}}

## 3.5 Editing key-value pair

In [63]:
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 6, 'subjects': {'dsa': 50, 'AI': 65, 'ML': 66}}

In [64]:
s['sem'] = 7
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 7, 'subjects': {'dsa': 50, 'AI': 65, 'ML': 66}}

In [65]:
s['subjects']['dsa'] = 62
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 7, 'subjects': {'dsa': 62, 'AI': 65, 'ML': 66}}

## 3.6 Dictionary Operations

- Membership
- Iteration

In [66]:
print(s)

{'name': 'vbp', 'college': 'dpmd', 'sem': 7, 'subjects': {'dsa': 62, 'AI': 65, 'ML': 66}}

In [69]:
'patel' in s

False

In [70]:
'name' in s

True

In [71]:
d = {'name':'vbp', 'gender':'male', 'age':22}

for i in d:
    print(i)

# In dictionary everything is about key

name
gender
age

In [72]:
d = {'name':'vbp', 'gender':'male', 'age':22}

for i in d:
    print(i,d[i])

name vbp
gender male
age 22

## 3.7 Dictionary Functions

In [73]:
d = {'name':'vbp', 'gender':'male', 'age':22}
print(d)

{'name': 'vbp', 'gender': 'male', 'age': 22}

In [74]:
# len
len(d)

3

In [86]:
# sorted
print(sorted(d))
print(d)
print()

print(sorted(d,reverse=True))
print(d)

# sorted() never modifies the original dictionary.
# It always returns a list of sorted keys.

['age', 'gender', 'name']
{'name': 'vbp', 'gender': 'male', 'age': 22}

['name', 'gender', 'age']
{'name': 'vbp', 'gender': 'male', 'age': 22}

In [81]:
# min
min(d)

'age'

In [82]:
# max
max(d)

'name'

In [83]:
# items
# items() returns a view object that contains all key–value pairs of the dictionary as tuples.

print(d.items())

dict_items([('name', 'vbp'), ('gender', 'male'), ('age', 22)])

In [87]:
# keys

print(d.keys())

dict_keys(['name', 'gender', 'age'])

In [88]:
# values

print(d.values())

dict_values(['vbp', 'male', 22])

In [91]:
# update
# update() adds key–value pairs from one dictionary into another.
# If a key already exists, its value is overwritten
# If a key does not exist, it is added
# The original dictionary is modified

d1 = {1:2, 3:4, 4:5}
d2 = {4:7,  6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

## 3.8 Dictionary Comprehension

![Python Dictionary Comprehension](https://www.learnbyexample.org/wp-content/uploads/python/Python-Dictionary-Comprehension-Syntax.png)

In [92]:
# print 1st 10 numbers and their square

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [97]:
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}

print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [96]:
# using existing dict

distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}

{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [100]:
# using zip

days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp_c = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]

{i:j for (i,j) in zip(days,temp_c)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [105]:
# using if condition

products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [107]:
# Nested Comprehension

{
    2:{1:2, 2:4, 3:6, 4:8},
    3:{1:3, 2:6, 3:9, 4:12},
    4:{1:4, 2:8, 3:12, 4:16}
}

# this is what we need to make

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}

In [112]:
# Nested Comprehension
# print table of number from 2 to 4
{i:{j:i*j for j in  range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}