# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [1]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

dic = {}

for tup in test_list:
    key=tup[0]
    value=tup[1]

    if key not in dic:
        dic[key]=[key]

    dic[key].append(value)


result = [tuple(v) for v in dic.values()]
print(result)

{5: [5, 6, 7, 8], 6: [6, 10], 7: [7, 13]}
[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [45]:
tup = (1, 5, 7, 8, 10)
result = []

for i in range(0,len(tup)):

    if i==0:
        result.append(tup[i]*tup[i+1])
        
    elif i==len(tup)-1:
         result.append(tup[i-1]*tup[i])
        
    else:
        result.append((tup[i-1]*tup[i]) + (tup[i]*tup[i+1]))

print(tuple(result))

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [2]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1 == t2:
    print("Tuples are same")
else:
    print("Tuples are not same")

Tuples are not same

In [6]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

flag=True

for i,j in zip(t1,t2):
    if i==j:
        continue
    else:
        flag=False
        break

if flag:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [61]:
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

list_count = 0
set_count = 0
tuple_count = 0

for item in list1:
    if isinstance(item, list):
        list_count += 1
    elif isinstance(item, set):
        set_count += 1
    elif isinstance(item, tuple):
        tuple_count += 1

print("List:", list_count)
print("Set:", set_count)
print("Tuple:", tuple_count)

List: 2
Set: 2
Tuple: 1

> isinstance(object, class) checks whether an object belongs to a given class (data type) or not.

It returns:

- True → if it matches

- False → if it doesn’t

##### isinstance(object, datatype)

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [8]:
students = []

num = int(input("Enter the number of applicants"))

for i in range(num):
    print("Enter the details of" ,i+1,'Applicant: ')
    name = input("Enter Student name: ")
    h_edu = input("Enter Higher Education: ")
    p_edu = input("Enter Primary Skill: ")
    yog = input("Enter Year of Graduation: ")

    students.append((name,h_edu,p_edu,yog))
    print()



print("Enter Job Role Requirement: ")
req_edu = input("Enter Higher Education: ")
req_skill = input("Enter Skill: ")
req_edu_year = input("Enter Year of Graduation: ")


flag = False
for i in students:
    if i[1]==req_edu and i[2]==req_skill and i[3]==req_edu_year:
        print("\nCandidate Found!!!")
        print(i)
    
        flag=True

if flag==False:
    print("No Such Candidates")

Enter the number of applicants 2

Enter the details of 1 Applicant:

Enter Student name:  Vishesh
Enter Higher Education:  B.Tech
Enter Primary Skill:  Python
Enter Year of Graduation:  2027

Enter the details of 2 Applicant:

Enter Student name:  Buddy
Enter Higher Education:  B.Tech
Enter Primary Skill:  Linux
Enter Year of Graduation:  2026

Enter Job Role Requirement:

Enter Higher Education:  B.Tech
Enter Skill:  Python
Enter Year of Graduation:  2027

Candidate Found!!!
('Vishesh', 'B.Tech', 'Python', '2027')

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [64]:
# This is not using sets

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

result= []

for value in ar1:
    if value  in ar2:
        if value  in ar3:
            result.append(value)

print(result)

[20, 80]

In [65]:
# This is using sets

result = list(set(ar1) & set(ar2) & set(ar3))

print(result)

[80, 20]

In [66]:
# This is using sets

result = list(set(ar1).intersection(ar2,ar3))

print(result)

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [86]:
# This is not a safe code , using sets insted of list for this questions is more safe


str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = ['a','e','i','o','u','A','E','I','O','U']
count=0
for char in str1:
    if char in vowels:
        vowels.remove(char)
        count+=1
        
print("No of unique vowels: ",count)

No of unique vowels:  6

In [87]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = set('aeiouAEIOU')

vowels_present=set()

for char in str1:
    if char in vowels:
        vowels_present.add(char)

print("No of unique vowels: ",len(vowels_present))

No of unique vowels:  6

In [92]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = set('aeiouAEIOU')

# print(set(str1) & vowels)


print("No of unique vowels:", len(set(str1) & vowels))

No of unique vowels: 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [103]:
str1 = input("Enter the string: ")

unique_chars = set(str1)

if len(unique_chars) == 2:
    print("Yes")
else:
    print("No")

Enter the string:  010101010

Yes

In [104]:
print("Yes" if len(set(str1))==2 else "No")

Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]

```

In [115]:
values = [[1, 2, 2, 4, 3, 6],
          [5, 1, 3, 4],
          [9, 5, 7, 1],
          [2, 4, 1, 3]]

union_set = set()

for arr in values:
    union_set = union_set | set(arr)

print(list(union_set))

[1, 2, 3, 4, 5, 6, 7, 9]

In [10]:
values = [[1, 2, 2, 4, 3, 6],
          [5, 1, 3, 4],
          [9, 5, 7, 1],
          [2, 4, 1, 3]]

union_set = set()

for i in values:
    union_set.update(i)

print(list(union_set))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

```

Output:
```bash
[9, 10, 4, 5]

```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [133]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

result = [x for x in lst1 if x in lst2]

print(result)

[4, 5, 9, 10]

In [139]:
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

result = []
for x in lst1:
    if x in lst2 and x not in result:
        result.append(x)

print(result)

[9, 10, 5, 4]

In [137]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

result = [x for x in lst1 if x in lst2]

print(result)

[9, 11, 26, 28]

In [140]:
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]

result = []
for x in lst1:
    if x in lst2 and x not in result:
        result.append(x)

print(result)

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [29]:
test_dict = { "CampusX": [5, 7, 9, 4, 0], "is": [6, 7, 4, 3, 3], "Best": [9, 9, 6, 5, 5]}

max_unique = 0
result_key = None

for key, value in test_dict.items():
    unique_count = len(set(value))
    if unique_count > max_unique:
        max_unique = unique_count
        result_key = key

print(result_key)

CampusX

In [32]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7,], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_unique = 0
result_key = None

for key, value in test_dict.items():
    unique_count = len(set(value))
    if unique_count > max_unique:
        max_unique = unique_count
        result_key = key

print(result_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [49]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}


words  = test_str.split()
result=[]

for word in words:
    if word in repl_dict:
        replaced = repl_dict[word]
        result.append(replaced)
    else:
        result.append(word)

print(" ".join(result))

CampusX is the best channel for Data-Science students.

In [55]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

words = test_str.split()
result = []

for word in words:
    # remove punctuation for checking
    clean_word = word.strip('.,')
    
    if clean_word in repl_dict:
        replaced = repl_dict[clean_word]
        
        # add punctuation back if needed
        if word.endswith('.'):
            replaced += '.'
        result.append(replaced)
    else:
        result.append(word)

print(" ".join(result))

CampusX is the best channel for Data-Science students.

In [56]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

words = test_str.split()
result = []

for word in words:
    clean_word = word.strip('.,')
    
    if clean_word in repl_dict:
        replaced = repl_dict[clean_word]
        
        if word.endswith('.'):
            replaced += '.'
        result.append(replaced)
    else:
        result.append(word)

print(" ".join(result))

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [76]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]

result = []

for i in range(0, len(test_list), len(key_list)):
    pairs = test_list[i:i+len(key_list)]
    result.append(dict(zip(key_list,pairs)))

print(result)

[{'name': 'CampusX', 'id': 10}]

In [77]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
result = []

for i in range(0, len(test_list), len(key_list)):
    pairs = test_list[i:i+len(key_list)]
    result.append(dict(zip(key_list,pairs)))

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [119]:
test_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

temp = []


for items in test_list:
    key =  items[0]
    value = [items[1]]
    temp.append((key,value))

print(dict(temp))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [117]:
test_list = [
    ("akash", 10), ("gaurav", 12), ("anand", 14),
    ("suraj", 20), ("akhil", 25), ("ashish", 30)
]

result = {}

for key, value in test_list:
    result[key] = [value]

print(result)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [118]:
test_list = [('A', 1), ('B', 2), ('C', 3)]

result = {}

for key, value in test_list:
    result[key] = [value]

print(result)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [130]:
test =  {'c': [3], 'b': [12, 10], 'a': [19, 4]}

result = {}

for key in sorted(test):
    result[key] = sorted(test[key])

print(result)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [129]:
test =  {'c': [10, 34, 3]}

result = {}

for key in sorted(test):
    result[key] = sorted(test[key])

print(result)

{'c': [3, 10, 34]}