## 1. Nested Loops

A nested loop means a loop inside another loop.

- The outer loop runs first.

- For each iteration of the outer loop, the inner loop runs completely.

In [1]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### 1.1 Pattern 1

*
**
***

In [32]:
rows = int(input("Enter the number of rows:"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

Enter the number of rows: 10

*
**
***
****
*****
******
*******
********
*********
**********

### 1.2 Pattern 2

1
121
12321
1234321

In [44]:
rows = int(input("Enter the number of rows:"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print()

Enter the number of rows: 4

1
121
12321
1234321

## 2. Loop Control Statement
- Break
    - break is used to stop the loop immediately, even if the loop condition is still true.
- Continue
    - continue is used to skip the current iteration and move to the next one.
- Pass
    - pass does nothing.
    It is used as a placeholder when a statement is required syntactically but you donâ€™t want to write any code yet.

### 2.1 Break

In [45]:
for i in range(1,10):
    if i ==5:
        break
    print(i)

1
2
3
4

In [54]:
# Finding prime numbers in a given range

lowerRange = int(input("Enter the Lower Range:"))
upperRange = int(input("Enter the Upper Range:"))

for i in range(lowerRange, upperRange+1):
    for j in range(2,i):
        if i%j==0:
          break
    else:
        print(i)

Enter the Lower Range: 10
Enter the Upper Range: 100

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

> What Does else Mean in a for Loop?

In Python, a for loop can have an else block, which is not common in other languages.

The else block runs ONLY when the loop finishes normally.

Meaning:

If the loop ends without a break, the else runs.

If the loop hits a break, the else does NOT run.


---

for item in sequence:
    # loop code
    if condition:
        break
else:
    # runs if loop did NOT break

### 2.2 Continue

In [55]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

### 2.3 Pass

In [57]:
for i in range(1,10):
    pass # will write some code later
    # just a mechanism to avoid error

## 3. Strings

Strings are squuence of characters

In Python specifically, String are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Opertions on Strings
- Strings Fuctions

A string in Python is basically a collection (sequence) of characters.

But Python doesnâ€™t store characters in ASCII only â€” it uses Unicode, which can represent:

- English letters â†’ A, B, C

- Hindi letters â†’ à¤…, à¤†, à¤•

- Emojis â†’ ðŸ˜Šâ¤ï¸ðŸ”¥

- Symbols â†’ Â© Â® Â¥

- Any language in the world

---

##### A Python string is not limited to English letters.

##### It can store characters from any language, symbols, and even emojis because it uses Unicode internally.

### 3.1 Creating Strings

In [2]:
s = 'Hello'
s = "Hello"
s = '''Hello'''
print(s)

Hello

In [3]:
# why we need this many options

'it's raining outsise

SyntaxError: invalid syntax (3102619998.py, line 3)

In [4]:
# The correc way
"It's raining outside"

"It's raining outside"

In [6]:
#MultiLine Strings

'''Hello 
Everyone'''
s = """
This 
is 
the 
other 
way 
to 
do 
it
"""

print(s)

This
is
the
other
way
to
do
it

### 3.2 Accessing Substring from a String

In [10]:
# Positive Indexing

s = "Hello World"
print(s[0])
print(s[4])
print(s[7])
# print(s[15])  --> error

H
o
o

In [14]:
# Negative Indexing

s = "Hello World"
print(s[-1])
print(s[-3])
print(s[-6])
print(s[-8])
# print(s[-19]) --> error

d
r

l

In [37]:
# Slicing

s = "Hello World"
print(s[0:5])
print(s[6:7])
print(s[1:])
print(s[:-1])
print(s[:])

Hello
W
ello World
Hello Worl
Hello World

In [38]:
print(s[0:6:2])    # 2-->step
print(s[0:12:2])    
print(s[12:0:-1])    
print(s[::-1])     # print whole string reverse

Hlo
HloWrd
dlroW olle
dlroW olleH

In [40]:
s = "Hello World"
print(s[-5:])
print(s[-1:-6:-1])

World
dlroW

### 3.3 Editing and Deleting in Strings

In [46]:
s = "Hello World"
# s[0] --> Error

# Python Strings are immutable

In [48]:
s = "Hello World"

del s

# print(s) --> Error: name 's' is not defined

In [53]:
s = "Hello World"

# del s[-5:-1:-1] --> --> Error: 'str' object does not support item deletion

# print(s)

### 3.4 Opearations on Strings

- Arithmetic Opearation
- Relational Opearation
- Logical Operation
- Loops on Strings
- Memberships Operations

#### Arithmetic Operation

In [55]:
print("Delhi" + " " + "Mumbai")

Delhi Mumbai

In [57]:
print("Delhi "*5)

Delhi Delhi Delhi Delhi Delhi

In [59]:
print("*"*50)

**************************************************

- There are only addition, multiplication in Arithmetic Operation in Strings
- No other arithmetic operations (like subtraction or division) are allowed.

#### Relational Operation

In [61]:
"Delhi" == "Mulmbai"

False

In [62]:
"Delhi" == "Delhi"

True

In [63]:
"Delhi" == "delhi"

False

In [67]:
"mumbai" > "pune"
# compared Lexiographically

False

Lexicographical comparison means comparing strings alphabetically, character by character, just like words in a dictionary.

Python compares strings using the Unicode (alphabetical) order of each character.

ASCII/Unicode order:

'm' = 109

'p' = 112

> "mumbai" is NOT greater than "pune" lexicographically because 'm' comes before 'p' in the alphabetical order.

In [70]:
"Hello" and "World"

'World'

In [71]:
"Hello" or "World"

'Hello'

- If there are characters in a string then it is considered as True and if it is empty then it is considered as False

In [73]:
"" and "World"

''

In [74]:
"" or "World"

'World'

In [75]:
"Hello" and "World"

# First it check for the first string which is true then it checked for the second string which is true so it prints 'World'
## In Python, and returns the last truthy value if both are true.

'World'

In [76]:
"Hello" or "World"

# First it check if the first string , which is true and we used 'or' so it did'nt checked for the second one
## In Python, or returns the first truthy value.

'Hello'

In [77]:
not "Hello"

False

In [78]:
not ""

True

#### Loops on Strings

In [81]:
## Strings in python are iterabale
for i in "Hello":
    print(i)

H
e
l
l
o

In [82]:
for i in "Delhi":
    print("Pune")

Pune
Pune
Pune
Pune
Pune

#### Membership Operators

In [84]:
"D" in "Delhi"

True

In [85]:
"D" not in "Delhi"

False

In [86]:
"d" in "Delhi"

False

In [87]:
"h" in "Delhi"

True

## 4. Functions

### 4.1 Common Functions

- len
- max
- min
- sorted

In [89]:
len("Hello World")    # also counts space

11

In [90]:
max("Hello World")   # on the basis of ASCII (American Standard Code for Information Interchange)

'r'

In [91]:
min("Hello World")   # on the basis of ASCII (American Standard Code for Information Interchange)

' '

In [94]:
sorted("Hello World")  # the output is list not a string on the basis of ASCII

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [95]:
sorted("Hello World", reverse=True)  # the output is list not a string on the basis of ASCII, which is sorted reversly

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

### 4.2 Functions only work on Strings

- Capitalize
- Title
- Upper
- Lower
- Swapcase

In [114]:
s = "hello WORld"

In [115]:
s.capitalize()    

# The first character becomes uppercase
# All other characters become lowercase

'Hello world'

In [156]:
s = "hello WORld"
print(s.capitalize())
print(s)

# Every time we do changes we create a new string, indeed strings are immutable
# It does not change the original s.
# Because strings in Python are immutable â€” once created, they cannot be changed.

Hello world
hello WORld

In [120]:
s.title()

# title() returns a new string where every word starts with a capital (uppercase) letter, and the rest of the letters become lowercase.
# It is used to convert a string into Title Case.

'Hello World'

In [121]:
s.upper()

# upper() returns a new string where all alphabetic characters are converted to UPPERCASE.

'HELLO WORLD'

In [118]:
'HELLO WORLD'.lower()

# lower() returns a new string where all alphabetic characters are converted to lowercase.

'hello world'

In [127]:
"heLLo wOrLd".swapcase()

# swapcase() returns a new string where:
# Uppercase letters become lowercase
# Lowercase letters become uppercase

'HEllO WoRlD'

### 4.3 Similar Functions 1
- Count
- Find
- Index

In [128]:
"my name is vbp".count("m")

# count() returns the number of times a substring appears in a string.

2

In [135]:
"my name is vbp".find("is")

# find() returns the index (position) of the first occurrence of a substring in a string.
# If the substring is not found, it returns -1.

8

In [136]:
"my name is vbp".find("who")

-1

In [137]:
"my name is vbp".index("is")

# index() returns the index (position) of the first occurrence of a substring in a string.
# If the substring is NOT found, it raises an error (ValueError).

8

In [139]:
## "my name is vbp".index("who") --> Error: substring not found

### 4.4 Similar Functions 2
- starts with
- ends with

In [141]:
"my name is vbp".startswith("my")

# startswith() checks whether a string begins with a specific substring.

True

In [142]:
"my name is vbp".startswith("who")

False

In [149]:
"my name is vbp".endswith("vbp")

# endswith() checks whether a string ends with a specific substring.

True

In [146]:
"my name is vbp".endswith("p")

True

In [147]:
"my name is vbp".endswith("who")

False

### 4.5 Similar Functions 3
- formate

In [158]:
name = "vbp"
gender = "Male"

"Hi my name is {} and I am a {}".format(name,gender)    # Order matters in this 

# .format() is used to insert values into a string using placeholders {}

'Hi my name is vbp and I am a Male'

In [159]:
name = "vbp"
gender = "Male"

"Hi my name is {1} and I am a {0}".format(gender,name)

'Hi my name is vbp and I am a Male'

### 4.6 Similar Functions 4
- isalnum
- isalpha
- isdigit
- isidentifier

In [168]:
'vbp12345'.isalnum()

#  isalnum() returns True if the string contains only:
# letters (Aâ€“Z, aâ€“z)
# digits (0â€“9)
# and no spaces, no symbols, no punctuation.

True

In [162]:
'vbp12345@'.isalnum()

False

In [163]:
"vbp".isalpha()

# isalpha() returns True if the string contains only alphabetic letters:
# Aâ€“Z
# aâ€“z
# and letters from other languages (Unicode letters)

# It returns False if the string contains:
# digits
# spaces
# symbols
# empty string

True

In [164]:
"vbp123".isalpha()

False

In [165]:
"123".isdigit()

# isdigit() returns True if the string contains only digits (0â€“9).

# It returns False if the string contains:
# letters
# spaces
# symbols
# decimals
# negative signs
# empty string

True

In [169]:
"123v".isdigit()

False

In [172]:
'1name'.isidentifier()

#  isidentifier() checks whether a string is a valid Python identifier.

# A Python identifier is a name used for:
# variables
# functions
# classes

False

In [173]:
"person_name".isidentifier()

True

Rules for a valid Python identifier

A string is a valid identifier if:

It starts with a letter (Aâ€“Z, aâ€“z) or underscore _

The remaining characters can be:

letters

digits

underscores

It cannot contain spaces or symbols

It cannot be empty

It can be a keyword (like class, for) â€” but Python will treat it as a keyword even though it's a valid identifier.

### 4.7 Similar Functions 5
- Split
- Join

In [174]:
"Hi my name is vbp".split()

# split() breaks a string into a list of substrings, using a separator (default: space).

['Hi', 'my', 'name', 'is', 'vbp']

In [175]:
"Hi my name is vbp".split('i')

['H', ' my name ', 's vbp']

In [180]:
" ".join(['Hi', 'my', 'name', 'is', 'vbp'])

# join() takes a list (or any iterable) of strings and joins them into one string, using the string before 
# .join() as the separator.

'Hi my name is vbp'

In [181]:
"-".join(['Hi', 'my', 'name', 'is', 'vbp'])

'Hi-my-name-is-vbp'

### 4.8 Similar Functions 6
- Replace

In [185]:
"Hi i am vbp".replace("vbp","Patel")

# replace() returns a new string where a specified substring is replaced with another substring.

# It does not change the original string (because strings are immutable).

'Hi i am Patel'

In [186]:
"Hi i am vbp".replace("who","Patel")

'Hi i am vbp'

### 4.9 Similar Functions 7
- Strip

In [190]:
"vbp     ".strip()

#strip() removes leading (left) and trailing (right) characters from a string.

# By default, it removes whitespace, such as:
# spaces " "
# newline \n
# tab \t

# It can be used in website where we ask for the name of the user

'vbp'

In [191]:
"    patel    ".strip()

'patel'

In [193]:
"   vb patel    ".strip()

'vb patel'