### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
print("Data", "Science", "Mentorship", "Program", sep='-', end='-started-')
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

end = 	Specifies what should be printed at the end of the output.	                = '\n' (newline)

sep	=   Specifies the separator between multiple values in a single print() call.	= " " (space)

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
celsius = float(input("Enter the celsius value"))
fahrenheit = celsius*(9/5) + 32
print("The fahrenheit valyue is: ", fahrenheit)

Enter the celsius value 88

The fahrenheit valyue is:  190.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
x=int(input("Enter the First number"))
y=int(input("Enter the Second number"))

print("Before Swaping: ",x,y)
temp=x
x=y
y=temp
print("After Swaping: ",x,y)

Enter the First number 7
Enter the Second number 4

Before Swaping:  7 4
After Swaping:  4 7

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
x1, x2 = map(int, input("Enter the first coordinates (x1 x2): ").split())
y1, y2 = map(int, input("Enter the second coordinates (y1 y2): ").split())

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("Euclidean distance:", distance)
print("Euclidean distance:", round(distance,2))

Enter the first coordinates (x1 x2):  4 5
Enter the second coordinates (y1 y2):  7 8

Euclidean distance: 1.4142135623730951
Euclidean distance: 1.41

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
p = int(input("Enter the Principal: "))
r = int(input("Enter the Rate of interest: "))
t = int(input("Enter the Time Period: "))

si = (p * r * t) / 100

print("Simple Interest:", si)

Enter the Principal:  10000
Enter the Rate of interest:  12
Enter the Time Period:  2

Simple Interest: 2400.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.


For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input("Enter total heads: "))
legs = int(input("Enter total legs: "))

dogs = (legs - 2 * heads) // 2
chicken = heads - dogs

print("dogs ->", dogs)
print("chicken ->", chicken)

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [11]:
n = int(input("Enter the number"))

result = (n*(n+1)*(2*n+1))/6
print(result)

Enter the number 9

285.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [12]:
first_num  = int(input("Enter first number"))
sec_num  = int(input("Enter Second number"))
n = int(input("Enter the value of n"))

d = sec_num - first_num

an = first_num+(n-1)*d

print(an)

Enter first number 5
Enter Second number 8
Enter the value of n 9

29

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [14]:
n1 = int(input("Enter the numerator 1: "))
d1 = int(input("Enter the denominator 1: "))
n2 = int(input("Enter the numerator 2: "))
d2 = int(input("Enter the denominator 2: "))

result_num = n1*d2 + n2*d2
result_deno = d1*d2

print(f'{result_num}/{result_deno}')

Enter the numerator 1:  4
Enter the denominator 1:  8
Enter the numerator 2:  2
Enter the denominator 2:  9

54/72

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [18]:
height_tank = int(input("Enter the height of tank: "))
width_tank = int(input("Enter the width of tank: "))
breath_tank = int(input("Enter the breath of tank: "))

print()

height_glass = int(input("Enter the height of glass: "))
radius_glass = int(input("Enter the radius of glass: "))


volumn_tank = height_tank*width_tank*breath_tank
volumn_glass = 3.14*height_glass*radius_glass

print("No of glasses: ", int(volumn_tank/volumn_glass))

Enter the height of tank:  9
Enter the width of tank:  5
Enter the breath of tank:  12

Enter the height of glass:  2
Enter the radius of glass:  3

No of glasses:  28